<div>
    <h2>Receipts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="receipt.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Receipt
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category"><span>Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created_by"><span translate="receiptManagerApp.receipt.created_by">Created By</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="created_date"><span translate="receiptManagerApp.receipt.created_date">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="total"><span>Total</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="claimed_amount"><span translate="receiptManagerApp.receipt.claimed_amount">Claimed Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="receipt in vm.receipts track by receipt.id">
                    <td><a ui-sref="receipt-detail({id:receipt.id})">{{receipt.id}}</a></td>
                    <td>{{receipt.category}}</td>
                    <td>{{receipt.created_by}}</td>
                    <td>{{receipt.created_date | date:'medium'}}</td>
                    <td>{{receipt.total}}</td>
                    <td>{{receipt.claimed_amount}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="receipt-detail({id:receipt.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="receipt.edit({id:receipt.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="receipt.delete({id:receipt.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
